body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #a8e063, #56ab2f, #d4fc79);
  background-size: 300% 300%;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.container {
  background: #ffffff;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.todo-input {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.todo-input input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.todo-input button {
  background-color: #5cb85c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.todo-input button:hover {
  background-color: #4cae4c;
}


.filters {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.filters button {
  padding: 8px 12px;
  background-color: #ddd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.filters button.active,
.filters button:hover {
  background-color: #5cb85c;
  color: #fff;
}

#taskList {
  list-style: none;
  padding: 0;
  margin: 0;
}

#taskList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#taskList li.completed {
  text-decoration: line-through;
  background-color: #d4edda;
}

#taskList button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#taskList button.complete {
  color: #5cb85c;
}

#taskList button.delete {
  color: #d9534f;
}